# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
.utmp/

# Visual Studio / VS Code / Rider
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pid
*.svd
*.pdb
*.opendb
*.VC.db

# OS generated
.DS_Store
Thumbs.db
Desktop.ini

# Builds and Archives
*.apk
*.aab
*.unitypackage
*.zip
Server.zip
